* {
  margin: 0;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: auto;
  background: -webkit-linear-gradient(rgb(53, 52, 52), black);
}

.App > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curr-btn,
.city-btn {
  width: 50vw;
  height: 70px;
  margin: 30px 0;
  border-radius: 50px;
  color: white;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.curr-btn:focus,
.city-btn:focus {
  outline: none;
}

.curr-btn {
  border: 1.5px solid blue;
  background: -webkit-linear-gradient(rgb(4, 4, 107), black);
  box-shadow: 0 0 10px 2px blue;
}

.city-btn {
  border: 1.5px solid rgb(146, 10, 146);
  background: -webkit-linear-gradient(rgb(114, 6, 114), black);
  box-shadow: 0 0 10px 2px rgb(139, 9, 139);
}
